<h2>orderpage</h2>

 <% @cart.each do |item| %>
      <%= item.name %>
      <%= item.price%>
      <%= link_to 'Show', item_path(:id => item.id) %><br>
    
    <% end %>

<p>
    Your total bill is: <%= @total %>    
</p>

<%= button_to "Order", orders_path(@cart), method: :POST %>