
<<<<<<< HEAD
<h3>Shopping Cart</h3>
=======
<h1>Shopping cart</h1>
>>>>>>> Added Order
<table class = "table">
  <thead class="thead-dark">
    <tr>
      <th>Items Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
      <th>Detail</th>
<<<<<<< HEAD
      <th>Action</th>

=======
>>>>>>> Added Order
    </tr>
  </thead>

  <tbody>

    <% @cart.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price%></td>
<<<<<<< HEAD
      <td><%= link_to '-', decrease_quantity_order_path(item), method: :GET, class: "btn btn-success" %>
        <%= session[:hash][item.id.to_s]%>
        <%= link_to '+', increase_quantity_order_path(item), method: :GET, class: "btn btn-success" %></td>
      <td><%= item.price*session[:hash][item.id.to_s].to_i%></td>
      <td><%= link_to 'Show ', item_path(:id => item.id), class: "btn btn-info" %></td>
      <% if @cart.include?(item) %>
        <td><%= link_to "Remove from cart", item_remove_from_cart_path(item), method: :delete, class: "btn btn-danger" %> </td>
      <% else %> 
        <td><%= button_to "Add to cart", item_add_to_cart_path(item),class:"btn btn-success" %> </td>
      <% end %> 
=======
      <td><%= link_to '+', increase_quantity_order_path(item), method: :GET, class: "btn btn-success" %>
      <%= session[:hash][item.id.to_s]%>
      <%= link_to '-', decrease_quantity_order_path(item), method: :GET, class: "btn btn-success" %></td>
      <td><%= item.price*session[:hash][item.id.to_s].to_i%></td>
      <td><%= link_to 'Show ', item_path(:id => item.id), class: "btn btn-info" %></td>
>>>>>>> Added Order
    </tr>
  
    <% end %>
  </tbody>
</table>


<% if @cart.present? %>
  <h4 align = "center">
      Your total bill is: <b><%= @total %></b>    
  </h4>
  <%= button_to "Check out", orders_path(@cart), class: "btn btn-primary" %>
<% end %>