
<h4>
  Order Detail<br><br>
  Name: <%= @order.user.name%><br>
  Email: <%= @order.user.email%>
</h4>

<table class= "table ">
  <thead class="thead-dark">
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
      <th>Detail</th>
    </tr>
  </thead>

  <tbody>
  <%@total = 0%>
    <% @order.order_items.each do |order_item|%>
      <tr>
        <td><%= order_item.item.name%></td>
        <td><%= order_item.item.price%></td>
        <td><%= @quantity = order_item.quantity %>
        <td><%= @subtotal = order_item.item.price*@quantity %>
        <% @total += @subtotal%>
        <td><%= link_to 'Show', order_item_path(id: order_item.item.id, order_id: @order.id), class: "btn btn-info" %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<h4>
  Your total bill is: <%= @total %>   
</h4>