<% if user_signed_in? %>
  <% if current_user.admin %>
    <b><%= link_to 'Create new category', new_category_path %></b>
  <% end %>
<% end %>
<% if current_user.admin %>
<b><%= link_to 'Create new category', new_category_path %></b>
<% end %>
<table>
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category|%>
        <tr>
            <td><%= link_to category.name, category_path(:id => category.id) %></td>
            <% if user_signed_in? %>
              <% if current_user.admin %>
                <td><%= link_to 'Edit', edit_category_path(category)%> |
                <%= link_to 'Delete', category_path(:id => category.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
                <% end %>
            <% if current_user.admin %>
            <td><%= link_to 'Edit', edit_category_path(category)%> |
            <%= link_to 'Delete', category_path(:id => category.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
            <% end %>
        </tr>
    <%end%>
  </tbody>
</table>
