<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <nav class="navbar navbar-light bg-light p-3">
      <a class="navbar-brand" href="/">Dinner Dash</a>
      <form class="form-inline">
        <% if user_signed_in? %> 
          <%= link_to 'All Orders', orders_path("All"), class: "btn btn-outline-primary mr-sm-3"%>
        <% end %>
        <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary mr-sm-3"%>
        <%= link_to 'Items', items_path, class: "btn btn-outline-primary mr-sm-3"%>
        <%= link_to 'My Cart', new_order_path, class: "btn btn-outline-primary mr-sm-3"%>
        <% if user_signed_in? %> 
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-primary mr-sm-3"%>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary mr-sm-3"%>
          
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary mr-sm-3"%>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary mr-sm-3"%>
          <% end %>
      </form>
    </nav>
    <% if alert%>
    <div class="alert alert-danger" role="alert">
    <p class = "alert"><%= alert%><br></p>
    </div>
    <% end %>

    <% if notice%>
    <div class="alert alert-success" role="alert">
     <p class = "notice"><%= notice%></p>
    </div>
    <% end %>
    
    <% if user_signed_in? %> 
      &nbsp <h5 class="text-right mr-5"><b><%= current_user.display_name%></h5></b>
      <% end %>
    <%= yield %>
  </body>
</html>
