<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg|%>
    <%= msg %>
    <% end %>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Dinner Dash</a>
  <form class="form-inline">
    <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary"%>
    <%= link_to 'Items', items_path, class: "btn btn-outline-primary"%>
    <% if user_signed_in? %> 
      <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-primary"%>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-success"%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success"%>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary"%>
      <% end %>
  </form>
</nav>
    <%= yield %>
  </body>
</html>
